html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ##0d1117; /* GitHub background */
}

.logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
